.Display {
  position: absolute;
  left: 50%;
  top: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 9em;

  color: var(--session);
  font-weight: 700;
  text-align: center;

  transform: translate(-50%, -50%);
}

.Display__remaining {
  font-size: 1.875em;
}

.Display__reset {
  border: none;
  background-color: transparent;
  fill: hsla(228, 38%, 26%, 1);
}