.DurationControls {
  color: var(--session);
  font-size: 1em;
  font-weight: 700;
}

.DurationControls svg {
  fill: var(--session);
}

.DurationControls--break {
  color: var(--break);
}

.DurationControls--break svg {
  fill: var(--break);
}

.DurationControls__controls {
  display: flex;
}

.DurationControls button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
}

.DurationControls button:nth-of-type(2) svg {
  transform: rotate(180deg);
}
