.App {
  margin: 0 auto;
}

.App__clock {
  position: relative;

  width: 22.5em;
  height: 22.5em;
  margin-bottom: 0.2em;
  padding: 1.5em;
}

.App__button {
  border: none;
  border-radius: 50%;
  background-color: hsla(0, 0%, 90%, 0.9);
  box-shadow: 0px 4px 5px hsla(0, 0%, 0%, 0.5);
  transition: background-color 100ms ease-in,
              box-shadow 50ms ease-in;
}

.App__button:hover {
  background-color: hsla(0, 0%, 90%, 0.7);
}

.App__button:active {
  box-shadow: 0px 4px 5px hsla(0, 0%, 0%, 0);
}

.App__info {
  display: block;
  width: 10em;
  margin: 0 auto;
  color: hsla(228, 42%, 47%, 1);
  font-size: 0.9em;
  text-align: center;
}