.App {
  max-width: 20em;
  margin: 0 auto;
}

.App__clock {
  margin-bottom: 1em;
  position: relative;
}

.App__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}