:root {
  --session: hsla(90, 100%, 46%, 1);
  --break: hsla(14, 92%, 54%, 1);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  margin: 0;

  background-color: hsla(0, 0%, 0%, 1);

  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}